<nav class="navbar  sticky-top navbar-expand-sm navbar-dark bg-primary clr" id="content">
  <a class="navbar-brand" href="#"><h2>DreamHouse</h2></a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
              <a class="nav-link"  [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/gate']">Apply</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"  [routerLink]="['/calculator']">Calculator</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/tracker']">Tracker</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  [routerLink]="['/faq']">FAQ</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link"  [routerLink]="['/contactUs']">Contact Us</a>
  </li>

  <li class="nav-item active">
    <a class="nav-link"  [routerLink]="['/login']">Login</a>
</li>

      </ul>

  </div>
</nav>

<div class=" text-center ">
<img  style="width:100%; height:480px" src="assets/images/j.jpg"    alt="">
</div>



<router-outlet></router-outlet>


<div style="  margin-left: 150px;">
<div class="row">
  <div class="col-xs- col-sm- col-md- col-lg-">
    <div class="card m-3 p-3" style="width: 20rem;">
      <img class="card-img-top" src="assets/images/im2.jpg" >
      <div class="card-block">
        <h4 class="card-title">Glimpses of the DreamHouse</h4>
        <p class="card-text">We are Happy to be a part to complete their Dream House</p>

      </div>
    </div>
  </div>
  <div class="col-xs- col-sm- col-md- col-lg-">

    <div class="card m-3 p-3" style="width: 20rem;">
      <img class="card-img-top" src="assets/images/j1.jpg" >
      <div class="card-block">
        <h4 class="card-title">Glimpses of the DreamHouse</h4>
        <p class="card-text">We are Providing the Best Future for your Best Living</p>

      </div>
    </div>
      </div>

  <div class="col-xs- col-sm- col-md- col-lg-">

    <div class="card m-3 p-3" style="width: 20rem;">
      <img class="card-img-top" src="assets/images/im3.jpg" >
      <div class="card-block">
        <h4 class="card-title">Glimpses of the DreamHouse</h4>
        <p class="card-text">We are Approving the Loans for your Dreams</p>

      </div>
    </div>
      </div>



</div>
</div>




<footer class=" myfooter bg-primary">
<div class="container p-4 ">

    <h6 class="text-center">For any queries contact with Our Helpdesk</h6>
    <h6 class="text-center">Email: helpdesk@dreamhouse.com</h6>
    <p>© 2020 DreamHouse Finance Limited</p>



</div>
<h6 class="text-center" style="color: red;"> Contact us here.</h6>
<div class= "container p-1 ">
  <a href="https://www.facebook.com/DreamHouse-109075144303509">
    <img src="assets\images\584ac2d03ac3a570f94a666d.png" style="width:42px;height:42px;">
    </a>
  <a href="https://twitter.com/login?lang=en-gb">
      <img src="assets\images\580b57fcd9996e24bc43c53e.png" style="width:42px;height:42px;">
  </a>
  <a href="https://www.instagram.com/accounts/login/?hl=en">
    <img src="assets\images\580b57fcd9996e24bc43c521.png" style="width:42px;height:42px;">
  </a>
  <a href="https://www.linkedin.com/login">
      <img src="assets\images\linkedIn_PNG38.png" style="width:42px;height:42px;">
  </a>
</div>
</footer>
