


<!--Make Two angular Form One for Application Tracker and One for Account Tracker-->
<div class="p-3 m-3">
  <div class="jumbotron p-4 m-4">
    <h1 class="display-4"> For Resetting Password  </h1>
  </div>

  <div class=" container text-center w-50 h-200px">
    <form  (ngSubmit)="ForRegistrationDetails()">
      <div class="imgcontainer">
        <img src="assets/images/fpsw.jpg"  class="avatar">
      </div>

      <div class="container">
        <label for="customerAppId"><b>Enter  Application No:</b></label>
        <input type="number" placeholder="Enter Application No" name="customerAppId" [(ngModel)]="customerAppId" required>
        <button class="mybtn" type="submit">Submit</button>
      </div>

    </form>
  </div>

</div>

<h2 class="text-center text-success" *ngIf="regiDetails.status">Congratulations! {{regiDetails.firstName}},Your Details Fetched Successfully </h2>


<!-- main app container -->

<div style="width: 900px; margin-left:250px" *ngIf="regiDetails.status">
  <div class="card m-3">
    <h2 class="card-header text-center text-danger mt-3">Reset Password</h2>
    <div class="card-body">
        <form name="form" (ngSubmit)="f.form.valid && onSubmitUpdate()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" class="form-control" [(ngModel)]="regiDetails.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" [(ngModel)]="regiDetails.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
                    <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="regiDetails.password" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required>
                    <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
                        <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary mr-1" >Reset</button>
                <button class="btn btn-secondary" type="reset">Cancel</button>
            </div>
        </form>
    </div>
  </div>
  </div>
  <h3 class="text-center text-success">{{feedback.statusMessage}}</h3>
