
<div class="row justify-content-center">
    <a  class="btn btn-danger p-4 m-4" [routerLink]="['/alledit/editregi']">Edit Registration Details</a>
   <!-- <a  class="btn btn-danger p-4 m-4" [routerLink]="['/alledit/editincome']">Edit Income Details</a>
    <a  class="btn btn-danger p-4 m-4" [routerLink]="['/alledit/editproperty']">Edit Property Details</a>
    <a  class="btn btn-danger p-4 m-4" [routerLink]="['/alledit/editloan']">Edit Loan Details</a>-->
  </div>

<router-outlet></router-outlet>
