<div class="justify-content-center align-content-center d-flex mt-4 pt-3">

  <img   style="height: 250px; width:450px;"  src="assets/images/ad.png"   >


</div>

<h1 class="text-center text-danger "> Hi Admin ,Welcome To Admin-DashBoard</h1>

<div class="justify-content-center align-content-center d-flex">
  <a  class="btn btn-danger "  [routerLink]="['/home']">Logout</a>
</div>


<div class="card-deck p-4 m-4">
  <div class="card p-3">
    <img class="card-img-top" src="assets/images/vv.PNG"  alt="Card image cap">
    <div class="card-body text-center">
      <h4 class="card-title text-center ">View Section</h4>
      <a  class="btn btn-danger" [routerLink]="['/admin-dashboard/admin-view']">GoTo-View</a>

    </div>
  </div>
  <div class="card p-3">
    <img class="card-img-top" src="assets/images/cc.PNG"  alt="Card image cap">
    <div class="card-body text-center">
      <h4 class="card-title text-center  pt-3">Create Section</h4>
      <a  class="btn btn-danger " [routerLink]="['/admin-dashboard/admin-create']">GoTo-Create</a>
    </div>
  </div>
  <div class="card p-3">
    <img class="card-img-top" src="assets/images/uu.png"  alt="Card image cap">
    <div class="card-body text-center">
      <h4 class="card-title text-center ">Update Section</h4>
      <a  class="btn btn-danger" [routerLink]="['/admin-dashboard/admin-update']">GoTo-Update</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>


