<div class="card text-center m-3">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h3 class="card-text">We are Making Your Dream into Reality.</h3>
    <h4>“A house is made of bricks and beams. A home is made of hopes and dreams.”</h4>
    <a  class="btn btn-danger" [routerLink]="['/application']">Register Now</a>
  </div>
  <!-- <div class="text-center">
    <img src="assets\images\Flowchart process (2).png"/>
  </div> -->
  <div class="card-footer text-muted">

  </div>
</div>
