
<div class="p-3 m-3">
<div class="jumbotron p-4 m-4">
  <h1 class="display-4">Hi</h1>
  <p class="lead">This is  an instant way of tracking your loan application</p>
  <hr class="my-4">
  <p>If your Application Status is approved please contact with the bank for further procedures.</p>

    <!-- Small modal -->
<!-- Large modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Click Me
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instruction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        If you want to know more details about your application then please Login !!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

</div>
</div>



<div class=" container text-center w-50 h-200px">
  <form  (ngSubmit)="track()">
    <div class="imgcontainer">
      <img src="assets/images/tjpg.jpg"  class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Loan Application Tracker</b></label>
      <input type="text" placeholder="Enter Application Number" name="applicationNo" [(ngModel)]="applicationId" required>

      <button class="mybtn" type="submit">Track Me</button>
      <div *ngIf="showStatus">
        <h4>Your application Status: {{ statusMsg }}</h4>
      </div>
      <div *ngIf="showError">
        <h4 style="color: orangered;">{{ statusMsg }}</h4>
      </div>  
    </div>
  </form>
</div>

