
<div class="card mt-4">
  <div class="card-body">
    <h2 class="card-title text-center text-danger">How Can We Help ?</h2>
<h5  class="card-title text-center " style="color: blue;">Below is a list of frequently asked questions (FAQS) related to the Home Loan</h5>

  </div>

  <div class="justify-content-center align-content-center d-flex">

  <img src="assets/images/f2.png"  class="img-thumbnail" alt="Cinque Terre">
</div>
</div>



<div class="accordion" id="accordionExample">
<div class="card">
<div class="card-header" id="headingOne">
<h2 class="mb-0">
<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
  1. How to decide if I am eligible for Home Loan?
</button>
</h2>
</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
<div class="card-body">
  Our website allows you to check your eligibility to apply for a Home loan.You are welcome to
   register. Usual checks are that you must be an adult and have a job to pay off your emi.
  We check other documents for verification too. You can check your eligibility here <a class="nav-link" [routerLink]="['/home']">Apply</a>
</div>
</div>
</div>
<div class="card">
<div class="card-header" id="headingTwo">
<h2 class="mb-0">
<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
  2. What are the benefits of applying for a Home Loan?
</button>
</h2>
</div>
<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
<div class="card-body">
  ‘DreamHouse’ makes your dream of owning your dream house by loaning you a subsequent amount to buy it, which you can pay off eventually through EMI.
   We offer you loans at considerable interest rates and take care of your finance security.
</div>
</div>
</div>


<!--adding-->

<div class="card">
  <div class="card-header" id="headingFifteen">
  <h2 class="mb-0">
  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseThree">
    3. When can I apply for a loan??
  </button>
  </h2>
  </div>
  <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
  <div class="card-body">
   You can  apply whenever you want to.We are available 24* 7 on the following link. <a class="nav-link" [routerLink]="['/home']">Apply</a>.
  </div>
  </div>
  </div>



  <div class="card">
    <div class="card-header" id="headingFour">
    <h2 class="mb-0">
    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
      4. What are the necessary documents required to apply for a Home Loan?
    </button>
    </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
    <div class="card-body">
      Necessary documents to apply for a home loan would be you, pan card, voter id card, salary slip, letter of authorization, No objection Certificate and agreement to sale document. Make sure to upload them for complete registration
    </div>
    </div>
    </div>


    <div class="card">
      <div class="card-header" id="headingFive">
      <h2 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
       5. Can I apply for multiple loans?
      </button>
      </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        We do not provide multiple loans to the same person at the same time. However , once you have paid off your loan, you can apply for another.
      </div>
      </div>
      </div>


      <div class="card">
        <div class="card-header" id="headingSix">
        <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
        6.Can I repay my loan ahead of schedule?
        </button>
        </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          Yes, you may repay your loan ahead of time in which case your EMI will  be recalculated and may reduce.
        </div>
        </div>
        </div>


        <div class="card">
          <div class="card-header" id="headingSeven">
          <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseTwo">
        7.Can I track my loan status?
          </button>
          </h2>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
          <div class="card-body">
            Yes , we have a loan tracker on our website which you may use to track your loan status.
          </div>
          </div>
          </div>


          <div class="card">
            <div class="card-header" id="headingEight">
            <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseTwo">
        8. Can I have a co-applicant?
            </button>
            </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body">
              We do not provide loans codependently . Only one person can apply for one loan at a time.
            </div>
            </div>
            </div>



            <div class="card">
              <div class="card-header" id="headingNine">
              <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseTwo">
        9.When does my EMI start?
              </button>
              </h2>
              </div>
              <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
              <div class="card-body">
                Your EMI starts by the seventh day of your application usually. You will be notified accordingly on our website. You may visit
              </div>
              </div>
              </div>



              <div class="card">
                <div class="card-header" id="headingTen">
                <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTwo">
             10.  What is the minimum / maximum amount that I can apply for a Home Loan?
                </button>
                </h2>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                <div class="card-body">
                  You can track the minimum /maximum amount you can  apply  for loan on our emi calculator . Click here to see.*link*.
                </div>
                </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingEleven">
                  <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseTwo">
               11.  How to apply for a loan for my choice of property?
                  </button>
                  </h2>
                  </div>
                  <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                  <div class="card-body">
                    Once you register , you can enter the details of the property you like. Accordingly the loan may be provided to you. Click here to register *link*.
                  </div>
                  </div>
                  </div>


                  <div class="card">
                    <div class="card-header" id="headingTwelve">
                    <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwo">
                12.What happens if I am unable to pay my loan on time?
                    </button>
                    </h2>
                    </div>
                    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                    <div class="card-body">
                      If you fail to pay your EMI on time we may charge you additional charges.

                    </div>
                    </div>
                    </div>


                    <div class="card">
                      <div class="card-header" id="headingThirteen">
                      <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseTwo">
                  13. What does agreement to sale mean?
                      </button>
                      </h2>
                      </div>
                      <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
                      <div class="card-body">
                        While buying a property, people enter into an agreement with the seller which is called Agreement to sale.

                      </div>
                      </div>
                      </div>


                      <div class="card">
                        <div class="card-header" id="headingFourteen">
                        <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseTwo">
                    14.What happens if I my application rejected? can I apply again?
                        </button>
                        </h2>
                        </div>
                        <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
                        <div class="card-body">
                          Yes, you can. If you fulfill all the requirements you can get the loan.
                        </div>
                        </div>
                        </div>



<div class="card">
  <div class="card-header" id="headingThree">
  <h2 class="mb-0">
  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
15. What is EMI?
  </button>
  </h2>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
  <div class="card-body">
    EMI(Equated Monthly Installments) offers you a loan in exchange of  monthly outgoes of certain fixed amounts. It allows you to buy properties and other luxuries and pay them off eventually.
  </div>
  </div>
  </div>
</div>
